<form class="new-offer-form" [formGroup]="needPartnerForm">

  <h4>Общая информация</h4>

  <button mat-raised-button type="reset" color="primary" class="clear-form-btn"
          (click)="clearForm(needPartnerForm)">Очистить</button>

  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Населенный пункт" aria-label="Населенный пункт" matInput
           formControlName="city" [matAutocomplete]="cities">
    <mat-autocomplete #cities="matAutocomplete">
      <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.name">
        {{city.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Сфера бизнеса" aria-label="Сфера бизнеса" matInput
           formControlName="businessAreas" [matAutocomplete]="businessAreas">
    <mat-autocomplete #businessAreas="matAutocomplete">
      <mat-option *ngFor="let category of filteredBusinessAreas$ | async" [value]="category.name">
        {{category.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <h4 class="full-width-field">Детали оффера</h4>

  <mat-form-field>
    <mat-label>Заголовок оффера</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label>Описание оффера</mat-label>
    <textarea matInput formControlName="desc"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label>{{fieldsLabels.experience}}</mat-label>
    <textarea matInput formControlName="experience"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <mat-label>{{fieldsLabels.conditions}}</mat-label>
    <textarea matInput formControlName="conditions"></textarea>
  </mat-form-field>

  <h4 class="full-width-field">Контактная информация</h4>

  <mat-form-field>
    <mat-label>Телефон</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="checkAndPostOffer()">Отправить</button>

</form>
