<main>

  <h1>Правила размещения объвлений на сайте BizMate (biz-mate.ru)</h1>

  <p>К размещению допускаются объявления по поиску и предложению инвестиций, поиску партнеров, предложению услуг и
    продаже активов (если это не является основной коммерческой деятельностью).</p>
  <p>Разместить объявление на сайте может только авторизованный и верифицированный пользователь. Метод верификации
    зависит от выбранного пользователем способа регистрации.</p>
  <p>Все объявления публикуются сразу же после их успешного сохранения не сервере сайта. Проверка объявлений модератором
    происходит в фоновом режиме уже после публикации.</p>
  <p>Объявления содержащие неверные контактные данные или с контактными данными в полях описания не допускаются к
    публикации. Для контактов отведены отдельные поля анкеты.</p>
  <p>Объявление не должно содержать рекламы своих услуг или продвигать какую-либо свою продукцию.</p>
  <p>В тексте объявления запрещено использовать матерные слова, неоднозначные и вводящие в заблуждение выражения.</p>
  <p>В объявлении должно содержаться конкретное предложение с четкими и понятными требованиями и условиями, а не абстрактный и слишком обобщенный текст.</p>
  <p>В объявлении не должно быть фраз: "Подробности по почте", "Подробности при встрече" и т.д. Вся информация
    подробно публикуется в содержании объявления.</p>
  <p>Вся указанная информация в объявлении должна быть логически связана. Это касается как и фиксированных платформой
    данных (сфера деятельности, тип объявления), так и произвольных данных, которые вводятся пользователем.</p>
  <p>В случае незначительных нарушений в рамках одного объявление, модератор может потребовать от пользователя
    отредактировать его. В таком случае пользователю будет выслано соответствующее уведомление на почту, указанную при
    регистрации.</p>
  <p>В случае значительных и многократных нарушений в рамках одного объявления, таковое может быть удалено модератором
    без возможности его предварительного редактирования пользователем и без предварительного уведомления.</p>
  <p>Модератор в праве потребовать отредактировать или удалить объявление и по другим причинам, не указанным выше.</p>
  <p>Недопустимо размещение полного или частичного дубликата объявления. Дубликаты будут удалены модератором без
    уведомления и каких-либо разбирательств.</p>
  <p>Пользователь, подавший объявление, гарантирует, что его деятельность и указанная информация полностью соответствует
    законодательству РФ. Администрация сайта и модераторы не несут никакой ответственности за указанную в объявлении
    информацию.</p>
  <p>Пользователь, подавший объявление, передает все права на использование и распространение информации (в т.ч. на
    обработку персональных данных), содержащейся в объявлении, в том числе и контактной информации, администрации
    сайта.</p>
  <p>К публикации на сайте допускаются объявления только на русском языке.</p>
  <p>Не допускаются объявления, содержащие символьное выделение или написанные только заглавными буквами.</p>
  <p>Не допускаются объявления написанные с грубыми нарушениями правил пунктуации (после запятой и точки ставится
    пробел, а новое предложение начинается с большой буквы).</p>
  <p>Не допускаются объявления, содержащие ссылки в тексте объявления, несвязанные с самой сутью и тематикой
    объявления.</p>
  <p>Объявления имеют неограниченный срок размещения и могу быть удалены только самими пользователем (если отсутствуют
    какие-либо нарушения).</p>
  <p>Все типы объявлений являются равнозначными и не имеют никакого приоритетного выделения и отображения в списке
    объявлений.</p>
  <hr/>
  <p>При регистрации пользователь подтверждает, что правила прочитаны им и он полностью с ними согласен.</p>
  <p>Пользователь обязуется полностью соблюдать все пункты данных правил.</p>
  <p>При многократном нарушении правил сайта аккаунт пользователя может быть заблокирован без уведомления и без
    возможности восстановления.</p>
  <hr/>
  <p>При возникновении каких-либо вопросов или сложностей Вы можете написать в службу поддержки <a
    href="mailto:info@biz-mate.ru?subject=Правила размещения">info@biz-mate.ru</a>.</p>

</main>
