<main>

  <div class="offer-type-panel">
    <h2>Выберите тип оффера</h2>

    <mat-button-toggle-group>
      <mat-button-toggle *ngFor="let type of getOfferTypesArray()" [checked]="getOfferType() === type.id"
                         (click)="setOfferType(type.id)">{{type.title}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <section class="offer-form-block">
    <app-need-invest-form [style.display]="getOfferType() === offerType.NEED_INVESTMENTS ? 'block' : 'none'">
    </app-need-invest-form>

    <app-have-invest-form [style.display]="getOfferType() === offerType.HAVE_INVESTMENTS ? 'block' : 'none'">
    </app-have-invest-form>

    <app-need-partner-form [style.display]="getOfferType() === offerType.NEED_PARTNER ? 'block' : 'none'">
    </app-need-partner-form>

    <app-search-business-form [style.display]="getOfferType() === offerType.SEARCH_BUSINESS ? 'block' : 'none'">
    </app-search-business-form>
  </section>

</main>
