<footer>

  <div class="scroll-up-arrow">
    <a (click)="scrollToHeader()"><img src="/assets/img/icons/bold_arrow.svg" alt="Вверх"/></a>
  </div>

  <div class="footer-container">
    <div class="footer_logo_and_copyright">
      <img src="/assets/img/biz_mate/logo_footer.svg" alt="Логотип подвала" />
      <p>BizMate &copy; 2020</p>
    </div>

    <div class="nav-buttons">
      <a [routerLink]="['/']">Главная</a>
      <a [routerLink]="['/offers-page']">Офферы</a>
      <a [routerLink]="['/feedback']">Помощь</a>
    </div>

    <div class="email_and_offer_button">
      <p (click)="sendEmailYmGoal()"><a href="mailto:info@biz-mate.ru"><img src="/assets/img/icons/email_footer.svg" alt="Почта">info@biz-mate.ru</a></p>
      <p (click)="sendVkGroupYmGoal()"><a href="https://vk.com/bizmate" target="_blank"><img src="/assets/img/socials/vk_logo.svg" alt="Вконтакте">vk.com/bizmate</a></p>
      <button class="button-primary button-transparent" [routerLink]="['/new-offer']">Создать оффер</button>
    </div>
  </div>

  <div class="rules-link">
    <a [routerLink]="['/rules']">Правила размещения объявлений</a>
  </div>
</footer>
