$main-theme-color: #673ab7;

header {

  .top-bar {
    height: 14px;
    background-color: #efefef;
    padding: 8px 5%;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
      justify-content: space-between;

      li {
        cursor: pointer;
        color: #b5b5b5;
        font-size: 12px;
      }
    }
  }

  nav {
    height: 75px;
    padding: 1em 10% .25em;
    display: flex;
    justify-content: space-between;

    &>div {
      display: flex;
      align-items: center;
    }

    .logo-text-block {
      cursor: pointer;

      img {
        height: calc(100% - 1em);
        margin-right: .75em;
      }

    }

    .header-buttons {
      & > button {
        margin-right: 1em;
      }

      & > div {
        position: relative;
      }

      .header-menu {
        position: absolute;
        right: 0;
        z-index: 2147483647;
        flex-direction: column;

        margin: 5px 0 0;
        padding: 0;
        border-radius: 8px;
        border: 1px solid #b5b5b5;
        background-color: #fff;

        li {
          list-style: none;
          padding: 10px 15px;
          color: $main-theme-color;
          white-space: nowrap;
          cursor: pointer;
          transition: transform 100ms;

          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }
  }
}
