<header id="header">
  <nav>
    <div class="logo-block">
      <img src="/assets/img/logo_header.svg" alt="BizMate логотип" [routerLink]="['/']" />
    </div>

    <div class="nav-buttons">
      <a [routerLink]="['/']">Главная</a>
      <a *ngIf="loggedIn" [routerLink]="['/profile']">Мой кабинет</a>
      <a [routerLink]="['/offers-page']">Офферы</a>
    </div>

    <div class="login-button">
      <button class="button-primary login-button" (click)="onAuthButtonClick()">{{loggedIn ? 'Выйти' : 'Войти'}}
        <img *ngIf="!loggedIn" src="/assets/img/login_thumb.svg" alt="Аутентификация" />
      </button>
    </div>
  </nav>
</header>
