<header id="header">
  <!-- Desktop menu -->
  <nav class="desktop-menu">
    <div class="logo-block">
      <img src="/assets/img/biz_mate/logo_header.svg" alt="BizMate логотип" [routerLink]="'/'"/>
    </div>

    <div class="nav-buttons">
      <a [routerLink]="'/'">Главная</a>
      <a *ngIf="loggedIn" [routerLink]="'/profile'">Мой кабинет</a>
      <a [routerLink]="'/offers-page'">Офферы</a>
    </div>

    <div class="login-button">
      <button class="button-primary login-button" (click)="onAuthButtonClick()">{{loggedIn ? 'Выйти' : 'Войти'}}
        <img *ngIf="!loggedIn" src="/assets/img/icons/login_thumb.svg" alt="Аутентификация"/>
      </button>
    </div>
  </nav>

  <!-- Mobile menu -->
  <nav class="mobile-menu">
    <img src="/assets/img/biz_mate/logo_header.svg" alt="BizMate логотип" [routerLink]="'/'"/>

    <div class="mobile-menu-button button-primary button-circle">
      <img src="/assets/img/icons/hamburger_menu.svg" alt="Меню" (click)="showMobileMenu()"/>
    </div>

    <div class="mobile-menu-wrapper" id="mobileMenuWrapper" (click)="hideMobileMenu()" (scroll)="$event.stopImmediatePropagation()">
      <div class="mobile-menu-container" (click)="$event.stopImmediatePropagation()">
        <div class="user-info">
          <span *ngIf="loggedIn">{{userName}}</span>
          <button class="button-primary login-button" (click)="onAuthButtonClick()">{{loggedIn ? 'Выйти' : 'Войти'}}
            <img *ngIf="!loggedIn" src="/assets/img/icons/login_thumb.svg" alt="Аутентификация"/>
          </button>
        </div>
        <div class="mobile-menu-nav">
          <a [routerLink]="'/'" (click)="hideMobileMenu()">Главная</a>
          <a *ngIf="loggedIn" [routerLink]="'/new-offer'" (click)="hideMobileMenu()">Создать оффер</a>
          <a *ngIf="loggedIn" [routerLink]="'/profile'" (click)="hideMobileMenu()">Мой кабинет</a>
          <a [routerLink]="'/offers-page'" (click)="hideMobileMenu()">Офферы</a>
          <a [routerLink]="'/feedback'" (click)="hideMobileMenu()">Помощь</a>
        </div>
        <div class="mobile-menu-bottom-bar">
          <a href="mailto:info@biz-mate.ru"><img src="/assets/img/icons/email_footer.svg" alt="Почта"/></a>
          <a (click)="onNotificationButtonClick()"><img src="/assets/img/icons/bell.svg" alt="Уведомления"/></a>
          <a href="https://vk.com/bizmate" target="_blank"><img src="/assets/img/socials/vk_logo.svg" alt="VK"/></a>
        </div>
      </div>
    </div>
  </nav>
</header>
