$main-theme-color: #2E7990;

header {
  margin: 0 auto;

  .desktop-menu {
    height: 75px;
    padding: 1em 0 .25em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-block {
      cursor: pointer;

      img {
        height: calc(100% - 2em);
      }

    }

    .nav-buttons {
      a{
        font-family: 'Raleway-SemiBold';
        cursor: pointer;
        margin: 0 20px;
        text-decoration: none;
      }

      a:first-child {
        margin-left: 0;
      }

      a:last-child {
        margin-right: 0;
      }

      a:hover {
        color: #35A6CA;
      }
    }

    .login-button {
      & > div {
        position: relative;
      }

      .login-button img{
        width: 14px;
        height: 14px;
        margin-left: .25em;
        margin-top: -5px;
        vertical-align: middle;
      }
    }
  }

  .mobile-menu {
    display: none;
  }

  @media screen and (max-width: 770px) {
    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1em;
      margin-bottom: 2em;

      & > img {
        height: 40px;
      }

      .mobile-menu-button {
        position: fixed;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: transparent;

        & > img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      .mobile-menu-wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,.4);
        transition: all .2s linear;
      }

      .mobile-menu-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .user-info {
          background-color: #2E7990;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: #FFFFFF;
            font-size: 14px;
            font-weight: bold;
          }
        }

        .mobile-menu-nav {
          display: flex;
          flex-direction: column;
          padding: 20px;

          a{
            font-weight: bold;
            text-decoration: unset;
          }

          a:not(:last-child) {
            margin-bottom: 2em;
          }
        }
      }
    }
  }
}
