<main>

  <div class="highlight-box search-form-panel">
    <div>
      <h3>Поиск по фильтрам</h3>
    </div>
    <!-- Desktop form -->
    <form [formGroup]="searchForm" (keydown.enter)="$event.preventDefault()">
      <ng-container *ngIf="!isTouchDevice">
        <mat-form-field>
          <input type="text" placeholder="Тип объявления" aria-label="Тип объявления" matInput
                 formControlName="type" [matAutocomplete]="offerType">
          <mat-autocomplete #offerType="matAutocomplete">
            <mat-option *ngFor="let type of filteredOfferTypes$ | async" [value]="type.title">
              {{type.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Сфера бизнеса" aria-label="Сфера бизнеса" matInput
                 formControlName="businessArea" [matAutocomplete]="businessArea">
          <mat-autocomplete #businessArea="matAutocomplete">
            <mat-option *ngFor="let category of filteredBusinessArea$ | async" [value]="category.name">
              {{category.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="isTouchDevice">
        <mat-form-field appearance="fill">
          <mat-label>Тип объявления</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of getOfferTypes()" [value]="type.title">{{type.title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Сфера бизнеса</mat-label>
          <mat-select formControlName="businessArea">
            <mat-option *ngFor="let type of getBusinessAreas()" [value]="type.name">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <mat-form-field>
        <input type="text" placeholder="Населенный пункт" aria-label="Населенный пункт" matInput
               formControlName="city" [matAutocomplete]="cities">
        <mat-autocomplete #cities="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.name">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button class="button-primary button-white" (click)="clearFilterForm()">Сбросить</button>
        <button class="button-primary" (click)="applyFilter(false)">Искать</button>
      </div>
    </form>
  </div>

  <div class="button-primary mobile-filter-panel-buttons" (click)="openMobileFilterDialog()">
    Параметры{{getTextForMobileFilterButton()}}
  </div>


  <div *ngIf="!emptyFilterResult" class="offers-list">
    <app-offer-card *ngFor="let offer of (filteredOffers$ ? filteredOffers$ : sortedOffers$) | async" [offer]="offer"
                    [editable]="false"></app-offer-card>
  </div>

  <div *ngIf="emptyFilterResult" class="empty-filter-result">
    <img src="/assets/img/404.svg" alt="Не найдено"/>
    <p>Не удалось найти ни одного объявления. Измените параметры поиска и попробуйте еще раз.</p>
  </div>

  <a *ngIf="getNextOffersChunkButtonStatus()" class="more-offers link-underline"
     (click)="getNextOffersChunk()">Больше офферов</a>
  <img *ngIf="!getNextOffersChunkButtonStatus()" class="all-offers-loaded"
       src="/assets/img/icons/all_offers_loaded.svg" title="На этом все..." alt="На этом все..."/>
</main>
