mat-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 210px;
  margin-bottom: 1.25em;
  box-sizing: border-box;

  mat-card-header {
    position: relative;

    .mat-card-avatar img{
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
    }

    .edit-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      cursor: pointer;
    }

  }


  mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    span {
      font-size: 12px;
      color: rgba(0,0,0,.54);
    }
  }
}
