<div class="offer-card-container">
  <div>


    <div class="offer-card-header">
      <div class="avatar-container">
        <img [src]="offer.photoURL" alt="Аватар"/>
      </div>

      <div class="title-and-author">
        <h3 [routerLink]="['/offer/'+offer.offerId]">{{offer.title}}</h3>
        <span>{{offer.displayName}}</span>
      </div>

      <div class="date">
        <span>{{getOfferDate(offer)}}</span>
      </div>
    </div>

    <div class="offer-card-desc">
      <p>{{offer.desc}}</p>
    </div>
  </div>
  <div class="offer-card-footer">
    <a class="link-underline" (click)="openOfferPage(offer)">Подробнее</a>
    <div *ngIf="editable">
      <img class="edit-btn" src="/assets/img/edit.svg" title="Редактировать" (click)="editOffer()"/>
      <img class="edit-btn" src="/assets/img/delete_offer.svg" title="Удалить" (click)="deleteOffer()"/>
    </div>
  </div>

</div>
