<h1 mat-dialog-title>Вход</h1>

<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>

<a class="non-border-link-button google-login" (click)="loginGoogle()">Вход через&nbsp;&nbsp;
  <img src="/assets/img/google_logo.svg" alt="Google"></a>

<div mat-dialog-content [formGroup]="loginFormGroup">
  <mat-form-field appearance="legacy">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="login">
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Пароль</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Скрыть пароль'"
            [attr.aria-pressed]="hidePassword">
      <img src="/assets/img/visibility_eye.svg" [style.opacity]="hidePassword ? .3 : 1" />
    </button>
  </mat-form-field>
</div>

<div mat-dialog-actions class="full-width-action-buttons">
  <a class="non-border-link-button" [mat-dialog-close] (click)="forgotPassword()">Забыл пароль</a>
  <a class="non-border-link-button" [mat-dialog-close] (click)="signUp()">Еще нет профиля? Создать</a>
  <button class="button-primary" (click)="logIn()">Войти</button>
</div>
