<main class="aside-section-block">

  <aside class="offer-type-panel">
    <h2>Выберите тип оффера</h2>
    <div *ngFor="let type of getOfferTypesArray()" [class.active-type]="getOfferType() === type.id"
                       (click)="setOfferType(type.id)">{{type.title}}</div>
  </aside>

  <section *ngIf="isOfferLoaded">
    <form class="new-offer-form" [formGroup]="newOfferForm">

      <h3>Общая информация</h3>

      <button class="button-primary button-white clear-form-btn" (click)="clearForm()">Очистить
      </button>

      <mat-form-field>
        <input type="text" placeholder="Населенный пункт" aria-label="Населенный пункт" matInput
               formControlName="city" [matAutocomplete]="cities">
        <mat-autocomplete #cities="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.name">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Сфера бизнеса" aria-label="Сфера бизнеса" matInput
               formControlName="businessArea" [matAutocomplete]="businessArea">
        <mat-autocomplete #businessArea="matAutocomplete">
          <mat-option *ngFor="let category of filteredBusinessArea$ | async" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <h4 class="full-width-field">Детали оффера</h4>

      <mat-form-field>
        <mat-label>Заголовок оффера</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field *ngIf="isCapitalFieldVisible()">
        <mat-label>{{fieldsLabels.capital}}</mat-label>
        <input matInput type="number" formControlName="capital">
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <mat-label>Описание оффера</mat-label>
        <textarea matInput formControlName="desc"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <mat-label>{{fieldsLabels.experience}}</mat-label>
        <textarea matInput formControlName="experience"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <mat-label>{{fieldsLabels.conditions}}</mat-label>
        <textarea matInput formControlName="conditions"></textarea>
      </mat-form-field>

      <h4 class="full-width-field">Контактная информация</h4>

      <mat-form-field>
        <mat-label>Номер телефона</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-checkbox class="full-width-field" (change)="attacheEmail = !attacheEmail" [checked]="attacheEmail">
        &nbsp;Указать Ваш E-mail в качестве контактной информации
      </mat-checkbox>

      <div class="bottom-block">
        <p *ngIf="!isFormValid" class="error-message">Корректно заполните обязательные поля</p>
        <button class="button-primary button-primary-large" (click)="sendOffer()">{{editOffer ? 'Сохранить' : 'Разместить'}}</button>
      </div>

    </form>
  </section>

</main>
