<main class="aside-section-block">

  <aside class="offer-type-panel">
    <h2>Выберите тип оффера</h2>
    <div *ngFor="let type of getOfferTypesArray()" [class.active-type]="getOfferType() === type.id"
                       (click)="setOfferType(type.id)">{{type.title}}</div>
  </aside>

  <section *ngIf="isOfferLoaded">
    <form class="new-offer-form" [formGroup]="newOfferForm">
      <div class="header-and-clear full-width-field">
        <h4>Общая информация</h4>
        <button class="button-primary button-white clear-form-btn" (click)="clearForm()">Очистить</button>
      </div>

      <mat-form-field>
        <input type="text" placeholder="Населенный пункт *" aria-label="Населенный пункт" matInput
               formControlName="city" [matAutocomplete]="cities">
        <mat-autocomplete #cities="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.name">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Сфера бизнеса *" aria-label="Сфера бизнеса" matInput
               formControlName="businessArea" [matAutocomplete]="businessArea">
        <mat-autocomplete #businessArea="matAutocomplete">
          <mat-option *ngFor="let category of filteredBusinessArea$ | async" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <h4 class="full-width-field">Детали оффера</h4>

      <mat-form-field>
        <mat-label>Заголовок *</mat-label>
        <input matInput #title formControlName="title">
        <mat-hint [ngClass]="{'invalid-field-length': title.value?.length > fieldMaxLength.title}" align="end">{{title.value?.length || 0}}/{{fieldMaxLength.title}}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="isCapitalFieldVisible()">
        <mat-label>{{fieldsLabels.capital}} *</mat-label>
        <input matInput type="number" formControlName="capital">
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <mat-label>Описание оффера *</mat-label>
        <textarea matInput #desc formControlName="desc"></textarea>
        <mat-hint [ngClass]="{'invalid-field-length': desc.value?.length > fieldMaxLength.desc}" align="end">{{desc.value?.length || 0}}/{{fieldMaxLength.desc}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <mat-label>{{fieldsLabels.experience}}</mat-label>
        <textarea matInput #experience formControlName="experience"></textarea>
        <mat-hint [ngClass]="{'invalid-field-length': experience.value?.length > fieldMaxLength.experience}" align="end">{{experience.value?.length || 0}}/{{fieldMaxLength.experience}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <mat-label>{{fieldsLabels.conditions}}</mat-label>
        <textarea matInput #conditions formControlName="conditions"></textarea>
        <mat-hint [ngClass]="{'invalid-field-length': conditions.value?.length > fieldMaxLength.conditions}" align="end">{{conditions.value?.length || 0}}/{{fieldMaxLength.conditions}}</mat-hint>
      </mat-form-field>

      <h4 class="full-width-field">Фотографии и изображения</h4>

      <div class="images-container full-width-field">
        <div *ngFor="let img of offerImages" class="image-block">
          <img [src]="img" alt="Изображение" (click)="openImage(img)"/>
          <img src="/assets/img/delete.svg" title="Удалить" alt="Удалить" (click)="deleteImage(img)"/>
        </div>
        <div *ngIf="offerImages.length === 0" class="image-block text-thumb" (click)="_fileInput.click()">
          <span>Загрузить изображение</span>
          <span>(максимум 5)</span>
        </div>
        <button *ngIf="offerImages.length > 0 && offerImages.length <5" class="button-primary button-circle button-primary-large"
                (click)="_fileInput.click()">+</button>
        <input #_fileInput type="file" (change)="fileChangeEvent($event)" multiple accept=".jpg, .jpeg, .png" hidden>
      </div>

      <h4 class="full-width-field">Контактная информация</h4>

      <mat-form-field>
        <mat-label>Номер телефона</mat-label>
        <input matInput id="tel" formControlName="phone" placeholder="+7 (999) 999-9999" phoneMask maxlength="17"
               [preValue]="newOfferForm.value.phone" [phoneControl]="newOfferForm.controls['phone']"/>
      </mat-form-field>

      <div *ngIf="isPhoneValid()" class="prefered-contact-methods">
        <span>Предпочетаемые способы свзяи:</span>
        <div>
          <img src="/assets/img/email.svg" title="Электронная пота" alt="Электронная пота"
               (click)="contactMethods.email = !contactMethods.email" [style.opacity]="contactMethods.email ? 1 : .3"/>
          <img src="/assets/img/phone.svg" title="Телефонный звонок" alt="Телефонный звонок"
               (click)="contactMethods.phone = !contactMethods.phone" [style.opacity]="contactMethods.phone ? 1 : .3"/>
          <img src="/assets/img/whatsapp.svg" title="WhatsApp" alt="WhatsApp"
               (click)="contactMethods.whatsapp = !contactMethods.whatsapp" [style.opacity]="contactMethods.whatsapp ? 1 : .3"/>
          <img src="/assets/img/telegram.svg" title="Telegram" alt="Telegram"
               (click)="contactMethods.telegram = !contactMethods.telegram" [style.opacity]="contactMethods.telegram ? 1 : .3"/>
          <img src="/assets/img/viber.svg" title="Viber" alt="Viber"
               (click)="contactMethods.viber = !contactMethods.viber" [style.opacity]="contactMethods.viber ? 1 : .3"/>
        </div>
      </div>

      <span class="email-info full-width-field">Ваш E-mail будет автоматически добавлен в качестве контактной информации</span>

      <div class="bottom-block">
        <p *ngIf="!isFormValid" class="error-message">Корректно заполните обязательные поля</p>
        <button class="button-primary button-primary-large" (click)="sendOffer()">{{editOffer ? 'Сохранить' : 'Разместить'}}</button>
      </div>

    </form>
  </section>

</main>
