<main>
  <h2>{{reportOfferId ? 'Сообщить о проблеме' : 'Форма обратной связи'}}</h2>

  <form class="highlight-box" [formGroup]="feedbackForm" (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>Ваше имя</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email для ответа</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field *ngIf="reportOfferId">
      <mat-label>ID проблемного оффера</mat-label>
      <input matInput [value]="reportOfferId" disabled>
    </mat-form-field>

    <mat-form-field class="full-width-field">
      <mat-label>{{reportOfferId ? 'Опишите возникшую проблему' : 'Текст сообщения'}}</mat-label>
      <textarea matInput rows="6" formControlName="text"></textarea>
    </mat-form-field>

    <button class="button-primary" (click)="sendForm()">Отправить</button>
  </form>
</main>
