<main class="aside-section-block">
  <ng-container *ngIf="offer">
    <aside class="offer-info-card">
      <div class="avatar-name-block">
        <div class="avatar-container">
          <img [src]="offer.photoURL" alt="Аватар оффера"/>
        </div>
        <span>{{offer.displayName}}</span>
      </div>

      <div class="item">
        <span>Город</span>
        <span>{{getOfferCity()}}</span>
      </div>

      <div *ngIf="offer.capital" class="item">
        <span>{{getCapitalLabel()}}</span>
        <span>{{offer.capital}}</span>
      </div>

      <div class="item">
        <span>Тип объявления</span>
        <span>{{getOfferTypeTitle()}}</span>
      </div>

      <div class="item">
        <span>Сфера бизнеса</span>
        <span>{{getOfferBusinessArea()}}</span>
      </div>

      <div class="item">
        <span>Дата публикации</span>
        <span>{{getOfferDate()}}</span>
      </div>
    </aside>

    <section class="offer-main-data">
      <h2>{{offer.title}}</h2>

      <div *ngIf="offer.capital">
        <h3>{{getCapitalLabel()}}</h3>
        <p>{{offer.capital}}</p>
      </div>

      <div class="full-width-block">
        <h3>Описание оффера</h3>
        <p>{{offer.desc}}</p>
      </div>

      <div class="full-width-block">
        <h3>{{getConditionsLabel()}}</h3>
        <p>{{offer.conditions}}</p>
      </div>

      <div class="full-width-block">
        <h3>{{getExperienceLabel()}}</h3>
        <p>{{offer.experience}}</p>
      </div>

      <div class="contacts">
        <h3>Контакты</h3>
        <p *ngIf="offer.phone">Номер телефона: <strong>{{offer.phone}}</strong></p>
        <p *ngIf="offer.email">E-mail: <strong>{{offer.email}}</strong></p>
      </div>

      <button class="button-primary button-primary-large">Откликнуться</button>
    </section>
  </ng-container>
</main>
