$main-theme-color: #2E7990;

.offer-info-card{
  display: flex;
  flex-direction: column;
  height: min-content;

  background-color: #fff;
  box-shadow: inset -4px -4px 10px rgba(228, 246, 255, 0.2), inset 4px 4px 10px #FCFFFF, inset -4px 4px 10px rgba(228, 246, 255, 0.25), inset 4px -4px 10px #E4F6FF, inset -1px 4px 10px #E4F6FF, inset 1px -4px 10px #FCFFFF;
  border-radius: 5px;
  padding: 2.5em 2em;

  .avatar-name-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

    .avatar-container {
      margin-bottom: 1em;
    }
  }

  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      max-width: 45%;
    }

    & > span:nth-of-type(2),
    .business-areas-block > *{
      font-family: 'Raleway-SemiBold';
      text-align: right;
    }

    &:not(:last-child) {
      margin-bottom: 1.5em;
    }

    .clickable {
      cursor: pointer;
      text-decoration: #2E7990 underline;

      &:hover {
        color: #2EA6CC !important;
        text-decoration: #2EA6CC underline;
      }
    }

    .business-areas-block {
      text-align: right;
      margin-left: 1em;
    }
  }

  @media screen and (max-width: 770px) {
    margin-bottom: 2em;
    padding: 1.5em 2em;
  }
}

.offer-main-data{

  h2, & > div:not(:last-child) {
    margin-bottom: 2em;
  }

  .full-width-block > p > a{
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  .contacts {
    .prefered-contact-methods{
      & > div {
        margin-top: .5em;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;

        img {
          height: 25px;
          width: 25px;
          cursor: pointer;
          margin: 0 .75em;
        }

        img:first-child{
          margin-left: 0 !important;
        }

        img:last-child{
          margin-right: 0 !important;
        }
      }
    }

    &>span {
      width: 100%;
    }
  }

  .share-offer-block {
    margin: 3em auto 0;

    & > span {
      font-weight: bold;
      display: block;
      margin-bottom: .75em;
    }
  }

  button {
    float: right;
  }

  @media screen and (max-width: 770px) {
    h2 {
      margin-top: 0;
    }
  }
}

.comments-block {
  margin-top: 7em;

  .comment {
    margin-top: 1.5em;
    padding: 1em;
    width: calc(100% - 2em);

    .name-date {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div {
        display: flex;
        flex-direction: column;

        & > span:nth-of-type(1) {
          font-weight: bold;
        }

        & > span:nth-of-type(2) {
          font-size: 12px;
          opacity: .8;
          margin-top: .5em;
        }
      }

      & > span {
        font-size: 12px;
        color: rgba(46, 121, 144, 0.6);
        font-family: "Raleway-Light";
        flex-wrap: nowrap;
        align-self: flex-start;
      }
    }

    & > p {
      margin-top: 2em;
    }

    & > img {
      width: 17px;
      cursor: pointer;
      margin-left: calc(100% - 17px);
      -webkit-tap-highlight-color: transparent;
    }

    &:last-of-type{
      margin-bottom: 3em;
    }
  }

  .add-comment-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > mat-form-field {
      flex-basis: 100%;
    }

    & > button {
      align-self: flex-start;
      margin-top: 1.5em;
    }
  }

  @media screen and (max-width: 770px) {
    margin-top: 5em;
  }
}
