<main class="aside-section-block">
  <ng-container *ngIf="offer">
    <aside class="offer-info-card">
      <div class="avatar-name-block">
        <div class="avatar-container">
          <img [src]="offer.photoURL" alt="Аватар оффера"/>
        </div>
        <span>{{offer.displayName}}</span>
      </div>

      <div class="item">
        <span>Город</span>
        <span class="clickable" (click)="openOffersPageByFilter('city')">{{getOfferCity()}}</span>
      </div>

      <div *ngIf="offer.capital" class="item">
        <span>{{getCapitalLabel()}}</span>
        <span>{{getCapitalValueAsString()}}</span>
      </div>

      <div class="item">
        <span>Тип объявления</span>
        <span class="clickable" (click)="openOffersPageByFilter('type')">{{getOfferTypeTitle()}}</span>
      </div>

      <div class="item">
        <span>Сфера бизнеса</span>
        <div class="business-areas-block">
          <span class="clickable" (click)="openOffersPageByFilter('mainBusinessArea')">{{getOfferMainBusinessArea()}}</span>
          <span *ngIf="getOfferSecondaryBusinessArea()">, </span>
          <span *ngIf="getOfferSecondaryBusinessArea()" class="clickable"
                (click)="openOffersPageByFilter('secondaryBusinessArea')">{{getOfferSecondaryBusinessArea()}}</span>
        </div>
      </div>

      <div class="item">
        <span>Дата публикации</span>
        <span>{{getOfferDate()}}</span>
      </div>
    </aside>

    <section class="offer-main-data">
      <h2>{{offer.title}}</h2>

      <div class="full-width-block">
        <h3>Описание оффера</h3>
        <p [innerHTML]="offer.desc"></p>
      </div>

      <div *ngIf="offer.conditions" class="full-width-block">
        <h3>{{getConditionsLabel()}}</h3>
        <p [innerHTML]="offer.conditions"></p>
      </div>

      <div *ngIf="offer.experience" class="full-width-block">
        <h3>{{getExperienceLabel()}}</h3>
        <p [innerHTML]="offer.experience"></p>
      </div>

      <div *ngIf="offer.imagesURL && offer.imagesURL.length" class="full-width-field images-container">
        <div *ngFor="let url of offer.imagesURL" class="image-block">
          <img [src]="url" (error)="onImageLoadError($event)" alt="Изображение" (click)="openImage(url)"/>
        </div>
      </div>

      <div class="contacts">
        <h3>Контакты</h3>
        <p *ngIf="offer.phone">Номер телефона: <a [href]="'tel:' + offer.phone" target="_blank"><strong>{{offer.phone}}</strong></a></p>
        <p *ngIf="offer.email">E-mail: <a [href]="'mailto:' + offer.email" target="_blank"><strong>{{offer.email}}</strong></a></p>
        <div *ngIf="isContactMethodSelected()" class="prefered-contact-methods">
          <span>Предпочетаемые способы свзяи:</span>
          <div>
            <img *ngIf="offer.contactMethods.email" src="/assets/img/icons/email.svg" title="Электронная пота" alt="Электронная пота"/>
            <img *ngIf="offer.contactMethods.phone" src="/assets/img/icons/phone.svg" title="Телефонный звонок" alt="Телефонный звонок"/>
            <img *ngIf="offer.contactMethods.whatsapp" src="/assets/img/socials/whatsapp.svg" title="WhatsApp" alt="WhatsApp"/>
            <img *ngIf="offer.contactMethods.telegram" src="/assets/img/socials/telegram.svg" title="Telegram" alt="Telegram"/>
            <img *ngIf="offer.contactMethods.viber" src="/assets/img/socials/viber.svg" title="Viber" alt="Viber"/>
          </div>
        </div>
      </div>

      <div class="share-offer-block">
        <span>Поделиться оффером:</span>
        <app-share-buttons [isOffer]="true"></app-share-buttons>
      </div>

      <div class="comments-block">
        <h3>Комментарии ({{commentsCount}})</h3>

        <article class="comment highlight-box" *ngFor="let comment of offerComments$ | async">
          <div class="name-date">
            <div>
              <span (click)="onOfferContactsClick()">{{comment.displayName}}</span>
              <span (click)="onOfferContactsClick()"><{{comment.userEmail}}></span>
            </div>

            <span>{{getCommentDate(comment.date)}}</span>
          </div>

          <p>{{comment.commentText}}</p>
          <img *ngIf="isCommentDeleteAllowed(comment)" src="/assets/img/icons/delete.svg" title="Удалить"
               (click)="onDeleteCommentButtonClick(comment.commentId)"/>
        </article>

        <div *ngIf="isUserAuth" class="add-comment-block">
          <h4>Добавить комментарий</h4>
          <mat-form-field class="full-width-field">
            <mat-label>Текст комментария</mat-label>
            <textarea [rows]="5" matInput [formControl]="commentInput"></textarea>
            <mat-hint [ngClass]="{'invalid-field-length': commentInput.value?.length > 1024}" align="end">{{commentInput.value?.length || 0}}/{{1024}}</mat-hint>
          </mat-form-field>

          <button class="button-primary" (click)="sendOfferComment()">Отправить</button>
        </div>

        <p *ngIf="!isUserAuth">Оставлять комментарии к объявлениям могут только авторизованные пользователи.</p>
      </div>
    </section>
  </ng-container>
</main>


