<main>

  <section class="highlight-box user-info-block" [formGroup]="userDataForm">
    <div class="avatar-container">
      <img [src]="user.photoURL" (click)="changePhotoURL()" alt="Аватар пользователя"
           title="{{user.displayName}}" class="user-photo">
    </div>
    <h2>Мои данные</h2>
    <div class="name">
      <div>
        <mat-form-field *ngIf="editableFields.displayName" class="example-full-width">
          <mat-label>Имя</mat-label>
          <input matInput autofocus formControlName="displayName" (change)="editUserData('displayName')">
        </mat-form-field>

        <mat-form-field *ngIf="!editableFields.displayName" class="example-full-width">
          <mat-label>Имя</mat-label>
          <input matInput disabled [value]="userDataForm.getRawValue().displayName">
        </mat-form-field>
      </div>

      <img class="edit-field" src="/assets/img/edit.svg" alt="Изменить поле"
           (click)="switchEditableField('displayName')"
           [style.opacity]="editableFields.displayName ? 1 : 0.4"/>
    </div>

    <div class="email">
      <!--<div>
        <mat-form-field *ngIf="editableFields.email" class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput autofocus formControlName="email" (change)="editUserData('email')">
        </mat-form-field>

        <mat-form-field *ngIf="!editableFields.email" class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput disabled placeholder="Не указан" [value]="userDataForm.getRawValue().email">
        </mat-form-field>
      </div>

      <img class="edit-field" src="/assets/img/edit.svg" alt="Изменить поле"
           [style.opacity]="editableFields.email ? 1 : 0.4" (click)="switchEditableField('email')"/>-->
      <div>
        <mat-form-field *ngIf="!editableFields.email" class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput disabled placeholder="Не указан" [value]="userDataForm.getRawValue().email">
        </mat-form-field>
      </div>
    </div>
  </section>

  <section id="user-offers">
    <div class="title-block">
      <h2>Мои офферы</h2>
      <button class="button-primary button-circle button-primary-large" [routerLink]="['/new-offer']">+</button>
    </div>
    <div class="offers-list" *ngIf="hasOffers">
      <app-offer-card *ngFor="let offer of userOffers$ | async" [offer]="offer" [editable]="true"></app-offer-card>
    </div>
    <ng-container *ngIf="!hasOffers">
      <div class="no-offers-block">
        <p>Размещенных офферов нет</p>
        <button class="button-primary button-primary-large" [routerLink]="'/new-offer'">Создать оффер</button>
      </div>
    </ng-container>
  </section>

</main>
