/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: "Raleway-Regular";
  src: url("/assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("/assets/fonts/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("/assets/fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("/assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("/assets/fonts/Raleway-Italic.ttf");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("/assets/fonts/Raleway-Light.ttf");
}

$main-theme-color: #2E7990;

*{
  font-family: "Raleway-Regular";
}

button {
  cursor: pointer;
  font-family: "Raleway-SemiBold";
}

html, body {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(233.4deg, #FCFEFF 41.42%, rgba(202, 245, 255, 0) 104.53%);
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1 0 auto;
}

main {
  max-width: 1190px;
  width: 80%;
  margin: 20px auto 40px;
  flex: 1;
}

h1, h2, h3, p, span, a, label, mat-label {
  color: $main-theme-color;
}

.mat-form-field-ripple {
  background-color: $main-theme-color !important;
}

input.mat-input-element{
  caret-color: $main-theme-color !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44336 !important;
}

.button-primary {
  padding: 10px 20px;
  color: #F8FAFF;
  background: #35A6CA;
  box-shadow: inset -4px -4px 10px rgba(53, 166, 202, 0.25), inset 4px 4px 4px rgba(101, 202, 235, 0.25), inset -4px 4px 4px rgba(53, 166, 202, 0.25), inset 4px -4px 4px rgba(53, 166, 202, 0.25), inset 0px 4px 4px rgba(53, 166, 202, 0.25), inset 1px -4px 4px #65CAEB;
  border: none;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: #176983;
  }

  &:disabled {
    background: #D0D0D0;
    box-shadow: unset;
  }
}

.button-white {
  background-color: #fff;
  color: #35A6CA;
  border: 1px solid #35A6CA;
  box-shadow: unset;

  &:active {
    background: #f1f1f1;
  }
}

.button-circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0 !important;
}

.button-transparent {
  background: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25)
  }
}

.link-underline{
  font-size: 14px;
  padding: 0 0 .25em;
  cursor: pointer;
  border-bottom: .75px solid #2E7990;
}

.button-primary-large {
  padding: 20px 25px;
}

*:focus {
  outline: 0;
}

.error-message {
  font-size: 14px;
  color: #d70108;
}

.dialog-content {
  text-align: center;

  h1 {
    text-align: center;
    color: $main-theme-color;
  }

  .mat-dialog-content {
    overflow: visible;
    flex-direction: column;
  }

  mat-form-field,
  .full-width-action-buttons,
  .auth-social-media {
    display: flex;
    width: 80%;
    max-width: 450px;
    margin: 1em auto 0;
  }

  mat-form-field {
    flex-direction: column;
  }

  .full-width-action-buttons {
    flex-direction: column;

    button {
      width: 100%;
    }

    button:not(:last-child) {
      margin-bottom: .75em;
    }
  }

  .auth-social-media {
    button {
      flex: 0 100%;
      height: 48px;
      font-size: 18px;

      img {
        width: 22px;
        vertical-align: sub;
      }
    }
  }
}

.highlight-box {
  background: #FCFFFF;
  width: calc(80% - 6em);
  min-width: calc(350px - 6em);
  padding: 1.5em 3em;
  box-shadow: inset -4px -4px 10px rgba(228, 246, 255, 0.5), inset 4px 4px 10px #FCFFFF, inset -4px 4px 10px rgba(228, 246, 255, 0.5), inset 4px -4px 10px rgba(228, 246, 255, 0.5), inset -1px 4px 10px rgba(228, 246, 255, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(228, 246, 255, 0.8);
}

.offers-list{
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2em;
}

.avatar-container {
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 50%;
  background-color: #fff;
  border: 0.5px solid rgba(53, 166, 202, 0.41);

  img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
  }
}
